{% extends 'base.html' %} {% load static %} {% block content %}

<title>reset password</title>
<section class="text-lowercase" id="Login">
  <form method="post">
    {% csrf_token %} {% if messages %}
    <!---->
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endfor %}
    <!---->   

    {% endif %}

      <div class="second_section p-2">
        <div class="row">
          <div class="col">
            <div class="log_in_dev">
              <div class="container py-5 h-100">
                <div
                  class="row d-flex align-items-center justify-content-center h-100"
                >
                  <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                   
                    <p class="text-center h1 fw-bold mx-1 mx-md-4 mt-4">
                    Password reset sent
                    </p>
                    <p class="text-center">
                      We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                      <br><br>
                      <b>If you don’t receive</b> an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                    </p>
                    

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

{% endblock %}
