{% extends 'base.html' %} {% load static %} {% block content %}

<title>link expired!</title>

<section class="text-lowercase"  style="background-color: #eee">
  <form method="post">
    {% csrf_token %} {% if form.errors %}
    <!--get the error-->
    {% for field in form %} {% for error in field.errors %}
    <!--pop up the error message -->
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    <!--end for-->
    {% endfor %}
    <!--end for-->
    {% endfor %}
    <!--end if-->
    {% endif %}

    <div class="sign_up_dev">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <h1 class="text-center">:(</h1>
                    <!----<img src="{% static 'images/icons/linkexpired_icon.png' %}" style="display: block; margin: auto; margin-bottom: 2em; " class="img-fluid justify-content-center" alt="Verify your email address!"/>-->
                    <h1 style="text-align: center; color: black;">
                      This link is expired!
                    </h1>
                    <form>
                      <div class="form-check d-flex justify-content-center mb-5">
                        <label class="form-check-label text-center" for="form2Example3">
                         To receive a new activation link click on the button bellow.
                                           
                        </label>
                      </div>
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <a href="{% url 'request-new-link-from-email' %}" class="btn btn-outline-info">Resend email</a>
                      </div>
                    </form>
                  </div>
                  <div
                    class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
                  >
                    <img
                      src="{% static 'images/logo.png' %}"
                      class="img-fluid"
                      alt="logo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>


{% endblock %}