<section class="d-flex justify-items-center" style="border-radius: 20px; padding: 40px; background-color: #ea0040; color: white; font-family: Helvetica, sans-serif;">
  <div style="width: 80%; max-width: 500px;">
    <h3 style="color: white">Hi Oliver!</h3>

    <div>
      <h4 style="color: white">{{Firstname}} {{Lastname}} just booked you for {{ Appearance }}</h4>

      <div style="color: white">
        <p><strong>Full name: </strong>{{ Firstname }} {{ Lastname }}</p><br>
        <p><strong>Email: </strong>{{ Email }}</p><br>
        <p><strong>Job title: </strong>{{ JobTitle }}</p><br>
        <p><strong>Company: </strong>{{ Company }}</p><br>
        <p><strong>Linkedin: </strong>{{ Url }}</p><br>
        <p><strong>Mobile number: </strong>{{ Tel }}</p><br>
        <p><strong>Appearance: </strong>{{ Appearance }}</p><br>
        <p><strong>Appearance details: </strong>{{ AppearanceDetails }}</p><br>
        <p><strong>Appearance location: </strong>{{ Location }}</p><br>
        <p><strong>Budget: </strong>{{ Budget }}</p><br>
        <p><strong>Date: </strong>{{ Dateandtime }}</p><br>
      </div>
    </div>
  </div>
</section>