<section class="d-flex justify-items-center" style="font-family: Helvetica, sans-serif;">
    <!-- Banner -->
    <img src="https://olivermccourty-static-bucket.s3.eu-west-2.amazonaws.com/static/images/opportunity_portfolio_banner.png" alt="" style="width: 100%; max-width: 800px; height: auto"/>
    <!-- Body -->
    <div style="width: 100%; max-width: 800px; background-color: #ffebf0; border-radius: 30px;">
        <!-- Translucent image behind main content -->
        <!-- <img src="https://olivermccourty-static-bucket.s3.eu-west-2.amazonaws.com/static/images/OpportunityPortfolio.png" alt="" style="position: absolute; top: 30%; left: 50%; width: 60%; height: 60%; ; max-height: 500px; max-width: 500px; opacity: 0.3; z-index: -1; object-fit: contain;" /> -->
        <!-- Main content -->
        <div style="display: block; justify-content: center; padding-top: 60px; padding-bottom: 60px;">  
            <div style="width: 70%; display: block; margin-left: auto; margin-right: auto;">
                <p style="font-size: 26px;">Hi{{name}},</p>
                <p style="font-size: 36px; padding-top: 20px; text-align: center; font-weight: bold;">SUCCESS!! <span>
                    <img src="https://olivermccourty-static-bucket.s3.eu-west-2.amazonaws.com/static/images/emoji1.png" alt="" style="width: 40px; height: 40px;"/>
                </span></p>
                <p style="font-size: 18px; padding-top: 20px">A BIG welcome to our Newsletter.</p>
                <p style="font-size: 18px; padding-top: 20px">Soon we'll be sharing exciting monthly content for you to <strong>see</strong> and <strong>engage</strong> with including:</p>
                <ul style="font-size: 18px; padding-top: 20px">
                    <li>Valuable opportunities available</li>
                    <li>Biggest achievements of the month</li>
                    <li>Opportunity Board Insights</li>
                    <li>Exclusive Company Progress Updates</li>
                    <li>UK's Chief Opportunity Officer Highlights</li>
                    <li>Opportunity Tips</li>
                </ul>
                <p style="font-size: 18px; padding-top: 20px; padding-bottom: 30px">+ much much more...</p>
                <p style="font-size: 18px; padding-top: 20px; padding-bottom: 30px">made a mistake? unsubscribe <a href="https://opportunitym.com/unsubscribe_to_newsletter/{{email_id}}">here</a> (email id: {{email_id}})</p>
            </div>
        </div>
        
    </div>
  </section>